.d-flex {
  display: flex;
}

.mb-2 {
  margin-bottom: 16px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-1 {
  margin-right: 8px;
}

.ml-1 {
  margin-left: 8px;
}

.posted-author {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.post-meta {
  padding: 12px 0;
  display: flex;
  border-top: 1px solid #3333;
  border-bottom: 1px solid #3333;
  & > :not(:last-child):after {
    content: "";
    border-right: 1px solid #3333;
  }
}
